*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.rounded-circle{
  height: 4rem;
  width: 4rem;
}
#dp{
  background: url('used_images/images (2).jpeg');
  background-size: cover;
    position: absolute;
    top: 1vh;
  right: 3vw;
}
.fw-light{
  font-size: 0.8rem;
  color: #fff;
  margin-top: 1vh;
}
.col{
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F3F47;
}
#trophy{
  background: url('used_images/IMG_20250724_230629.jpg');
  background-size: cover;
}
.score-text{
  
  margin-top: 2vh;
  margin-left: 3vw;
}
.score-text-bottom p{
  font-size: 1.5rem
}
 .grid{
   display: flex;
   height: auto;
   justify-content: space-between;
   align-items: center;
   width: 90vw;
   margin-top: 2vh;
   flex-wrap: wrap;
   gap: 3vh;
 }
 .card-img-top{
  height: 6rem;
  width: 6rem;
 }
 #sports{
   background: url('used_images/football.png');
   background-size: contain;
   background-repeat: no-repeat;
 }
 .card{
   background-color: #3F3F47;
   width: 37vw;
 }
.columns-left{
  margin-left: 10vw;
}
.columns-right{
  margin-right: 10vw;
}
.centre-img{
  display: flex;
  justify-content: center;
}
 #science{
   background: url('used_images/chemistry.png');
   background-size: contain;
   background-repeat: no-repeat;
 }
 #gk{
   background: url('used_images/gk.png');
   background-size: contain;
   background-repeat: no-repeat;
 }
 #Film{
   background: url('used_images/film.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #books{
   background: url('used_images/books.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #Music{
   background: url('used_images/music.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #games{
   background: url('used_images/games.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #Computers{
   background: url('used_images/computers.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #math{
   background: url('used_images/math.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #History{
   background: url('used_images/history.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #geo{
   background: url('used_images/geo.png');
   background-size: contain;
background-repeat: no-repeat;
 }
 #art{
   background: url('used_images/art.png');
   background-size: contain;
background-repeat: no-repeat;
   }
